.page-header
  %h1
    All Collections
    .pull-right
      - if can? :create, Collection
        = link_to new_collection_path, class: "btn btn-lg btn-success" do
          %i.fa.fa-plus
          Add

= render 'tiles', collections: @collections