.page-header
  %h1
    All Collections
    .pull-right
      - if can? :create, Collection
        = link_to new_collection_path, class: "btn btn-lg btn-success" do
          %i.fa.fa-plus
          Add

.row
  - @collections.each do |collection|
    .col-sm-4
      = link_to collection_path(collection), class: 'collection-panel' do
        .collection-name= collection.name
