.user-tiles
  - users.each do |user|
    = link_to user_path(user), class: 'user-tile' do
      .user-image
        = image_tag user.image
      %h3.user-name= user.name
      %h4.user-headline Awesome Company
      -# %h4.user-username= "@#{user.slug}"
