.page-header
  %h1
    = @resource
    .pull-right
      - if can? :collect, @resource and current_user.collections.count > 0
        = form_for @resource, url: collect_resource_path(@resource), remote: true, html: {method: :post} do |f|
          = f.collection_select(:collection_ids, current_user.collections, :id, :to_s, {}, {multiple: true, class: "selectpicker"})

= render 'card', resource: @resource
