.admin-page-header {
  padding-bottom: 9px;
  margin: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.table > tbody > tr.invited { background-color: lightyellow }


.admin-collections
  .btn-feature {
    color: #bbb;
    font-size: 16px;
    padding-bottom: 0;
  	padding-top: 0;
    &:hover { color: mediumvioletred }
  }
  .feature-collection {
    display: inline-block;
  }
  .featured {
    color: mediumvioletred
  }
