@charset "utf-8";

@import "bootstrap-overrides";

// Libraries and Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select.min";
@import "font-awesome";
@import "jquery-ui.min";
@import "normalize-rails";

// Custom Elements
@import "admins";
@import "alerts";
@import "collections";
@import "footer";
@import "popover";
@import "resources";
@import "tables";
@import "users";

.navbar-default {
  margin-bottom: 0;
  .navbar-brand {
    padding: 15px;
    img {
      height: 40px;
    }
  }
  .btn-create-resource {
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 19px;
    &:hover {
      color: #419320 !important;
    }
  }
  .user-image-dropdown {
    .user-name {
      padding: 5px 0;
    }
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.home-button {
  border-radius: 10px;
}

.page-header {
  margin: 70px 0 50px 0;
  text-align: center;
  border-bottom: none;
  h1 {
    margin-top: 0;
  }
  h2 {
    color: #bbb;
    font-size: 22px;
  }
}

.page-image-header {
  background-color: brown;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 264px;
  position: relative;
  .page-image-header--shadow {
    &:hover {
      background-color: rgba(0,0,0,.1);
      background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%);
    }
    height: inherit;
    min-height: 220px;
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%);
    justify-content: center;
    align-items: center;
    box-pack: center;
    -webkit-box-pack: center;
    flex-flow: column nowrap;
    display: flex;
    .page-image-header--heading {
      display: flex;
      -webkit-box-flex: 1;
      box-flex: 1;
      flex: 1 0 auto;
      flex-flow: column nowrap;
      box-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      align-self: center;
      margin: 20px;
      text-align: center;
      h1 {
        color: white;
        font-size: 40px;
        font-weight: 600;
        line-height: 68px;
        margin: 0;
        a { 
          color: rgba(255,255,255,1);
          font-size: 32px;
        }
      }
      h2 {
        color: rgba(255,255,255,0.5);
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        margin: 0;
      }
      .page-image-header--heading--owner {
        color: white;
        display: flex;
        -webkit-box-align: center;
        box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        box-pack: center;
        justify-content: center;
        margin-top: 30px;
        a { color: rgba(255,255,255,0.5); }
      }
    }
  }
}

.image {
  width: 100%;
  img { max-width: 100% }
}

a:focus,
.btn:focus {
  outline: none;
}

a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

#new-resource-modal {
  .modal-title {
    margin: 30px 0;
    text-align: center;
  }

  .nav-tabs {
    & li:first-child a {
      &:hover, &:active, &:focus, &:visited {
        border-left: 0;
        border-top-left-radius: 0;
      }
      border-left: 0;
      border-top-left-radius: 0;
    }
    & li:last-child a {
      &:hover, &:active, &:focus, &:visited {
        border-right: 0;
        border-top-right-radius: 0;
      }
      border-right: 0;
      border-top-right-radius: 0;
    }
  }
}
