@charset "utf-8";

// Libraries and Frameworks
@import "normalize-rails";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-select.min";
@import "jquery-ui.min";

// Custom Elements
@import "collections";
@import "tables";
@import "users";
@import "resources";

.page-header {
  margin: 0;
  text-align: center;
  h1 {
    margin-top: 0;
  }
  h2 {
    color: #bbb;
    font-size: 22px;
  }
}

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text)
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text)
}
