@charset "utf-8";

@import "bootstrap-overrides";

// Libraries and Frameworks
@import "normalize-rails";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-select.min";
@import "jquery-ui.min";

// Custom Elements
@import "collections";
@import "tables";
@import "users";
@import "resources";
@import "modal";
@import "popover";

.navbar {
  .navbar-brand {
    padding: 15px;
    img {
      height: 40px;
    }
  }
}

.page-header {
  margin: 50px 0;
  text-align: center;
  border-bottom: none;
  h1 {
    margin-top: 0;
  }
  h2 {
    color: #bbb;
    font-size: 22px;
  }
}

.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text)
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text)
}

a:focus,
.btn:focus {
  outline: none;
}

a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

#new-btn {
  color: #419320;
  font-size: 3em;
  padding: 5px 0 0;
}
