.collections-sortable .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

.collection-tiles {
  margin: 0 -15px;
  flex-flow: row wrap;
  box-pack: center;
  justify-content: center;
  display: flex;
  .collection-tile {
    &:hover {
      background-color: #f7f7fa;
      .collection-tile--header { opacity: 0.8; }
    }
    border-radius: 3px;
    border: 1px solid #f0efef;
    box-shadow: 3px 4px 4px -5px rgba(0,0,0,0.5);
    color: #999999;
    cursor: pointer;
    font-size: 14px;
    height: 286px;
    width: 270px;

    margin: 0 10px 20px 10px;
    
    .collection-tile--header {
      background-color: brown;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: 1px solid #f0efef;
      height: 153px;
      position: relative;
      box-shadow: inset 0 -45px 88px -13px #000;

      .collection-tile--curator {
        display: flex;
        box-align: center;
        align-items: center;
        box-pack: center;
        justify-content: center;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;

        .user-image {
          display: inline-block;
          position: relative;
          margin-right: 10px;

          img {
            width: 30px;
            height: 30px;
            vertical-align: bottom;
            border: none;
            border-radius: 50%;
          }
        }
      }
    }

    .collection-tile--name {
      h3 {
        padding: 0 20px;
        text-align: center;
        color: black;
        font-size: 16px;
      }
    }
    .collection-tile--title {
      padding: 0 20px;
      text-align: center;
    }
  }
}
