.modal-content {
  padding: 30px 0;
}

.form-select-btn {
  margin: 10px;
  color: #eee;
  border-color: #eee;
  border-bottom: none;
}

$blue: #3337A0;
$green: #419320;
$brown: #60260B;

.person-btn-modal:active,
.person-btn-modal:active:focus,
.person-btn-modal:hover,
.person-btn-modal:link,
.person-btn-modal:focus,
.person-btn-modal {
  background-color: $blue;
  color: #fff;
}

.company-btn-modal:active,
.company-btn-modal:active:focus,
.company-btn-modal:hover,
.company-btn-modal:link,
.company-btn-modal:focus,
.company-btn-modal {
  background-color: $green;
  color: #fff;
}

.collection-btn-modal:active,
.collection-btn-modal:active:focus,
.collection-btn-modal:hover,
.collection-btn-modal:link,
.collection-btn-modal:focus,
.collection-btn-modal {
  background-color: $brown;
  color:#fff;
}

.person-modal-body {
  border: 5px solid rgba(51, 55, 160, 0.5);
}

.company-modal-body {
  border: 5px solid rgba(65, 147, 32, 0.5);
}

.collection-modal-body {
  border: 5px solid rgba(96, 38, 11, 0.5);
}

.person-form-input {
  background-color: rgba(10, 10, 250, 0.1);
}

.company-form-input {
  background-color: rgba(65, 147, 32, 0.1);
}

.collection-form-input {
  background-color: rgba(96, 38, 11, 0.1);
}