.resource-items {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  .resource-item {
    &:hover {
      background: #f7f7fa;
      .resource-item--actions--collect {
        opacity: 1;
      }
      .resource-item--text {
        .resource-item--text--description {
          form textarea { 
            display: block;
          }
          form ~ .resource-item--text--description--text {
            display: none;
          }
        }
      }
    }
    .resource-item--text--description--text {
      padding: 6px 0
    }
    transition: background, 0.1s;
    background: white;
    font-size: 18px;
    min-height: 62px;
    line-height: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    box-sizing: border-box;
    display: flex;
    box-align: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 -10px;
    padding: 10px;
    position: relative;
    .resource-item--rank {
      background: transparent;
      border: 0;
      box-shadow: none;
      margin: 2px 11px 2px 0;
      width: 34px;
      font-size: 17px;
      line-height: 20px;
    }
    .resource-item--thumbnail {
      display: block;
      background-position: center center;
      background-size: cover;
      border-radius: 3px;
      height: 90px;
      width: 130px;
      margin-right: 20px;
      position: relative;
    }
    .resource-item--text {
      box-flex: 1;
      flex: 1;
      .resource-item--text--name {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
        margin: 6px 2px 0 0;
        line-height: 22px;
        margin-right: 5px;
      }
      &:visited {
        color: #bbbbbb;
      }
      .resource-item--text--description {
        color: #999999;
        font-size: 17px;
        margin: 5px 0 0 0;
        display: block;
        line-height: 20px;
        form textarea {
          box-sizing: content-box;
          display: none;
          resize: vertical;
          width: 96%;
          height: 25px;
          border-radius: 4px;
          border-color: #bbb;
          padding: 3px 7px;
        }
      }
      .resource-item--text--data {
        .resource-item--text--data--type, .resource-item--text--data--tags--tag {
          box-align: center;
          align-items: center;
          padding: 2px 4px 1px;
          color: #bbbbbb;
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          border: 2px solid rgba(187,187,187,.5);
          border-radius: 4px;
          white-space: nowrap;
          display: inline-block;
          margin-right: 5px;
          margin-top: 5px;
        }
      }
    }
    .resource-item--actions--owner {
      height: 30px;
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
    }
    .resource-item--actions--collect {
      display: inline-block;
      opacity: 0;
      float: left;
    }
  }
}

.fa-user {
  margin-left: 2px;
}

.org-info {
  display: none;
}

.org-btn {
  text-align: center;
  margin: 10px 0;
}

.org-arrow.down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-bottom: 2px;
}

.form-image {
  img.imgix-fluid {
    max-width: 100%;
    max-height: 150px;
    margin-bottom: 20px;
  }
}

.resource-info, .resource-comingsoon, .resource-collections {
  margin: 60px 0;
  text-align: center;
}