.fa-male {
  margin-left: 3px;
}

/////////////////////////////
///       FORM           ///
///////////////////////////

.radio {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #65ADEA;
  border-color: #65ADEA;
}

#form-type-radio {
  margin-bottom: 15px;
}

.org-info {
  display: none;
}

#organization-btn {
  text-align: center;
}
