.user-tiles {
  text-align: center;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;
  box-pack: center;
  justify-content: center;
  display: flex;

  .user-tile {
    &:hover {
      background-color: #f7f7fa;
      .user-image { opacity: 0.8; }
    }
    color: #555555;
    width: 215px;
    height: 256px;
    position: relative;
    float: left;
    vertical-align: top;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15),0px 1px 3px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 20px 5px;
    margin: 10px;
    text-decoration: none;
    .user-name {
      font-weight: bold;
    }
    .user-image {
      img {
        width: 80px;
        height: 80px;
      }
    }
    .user-headline {
      font-weight: normal;
      font-style: italic;
    }
    .user-username {
      color: #da552f;
      
      font-weight: normal;
    }
  }
}

.user-image {
  display: inline-block;
  position: relative;
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}