.user-panel {
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 40px 0;
  width: 100%;
  color: #eee;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(53, 32, 59);
  .user-name { }
  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.user-image {
  display: inline-block;
  position: relative;
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}