.container
  %footer.footer
    .row
      .col-sm-6
        %p Can't find what you're looking for? Ask a community member!
        %script{async: "true", defer: "true", src: "http://parkland-slackin.herokuapp.com/slackin.js?large"}
      .col-sm-6.text-right
        %p
          Parkland is a 
          = link_to "collaborative volunteer", "https://localwiki.org/raleigh/Innovate_Raleigh_Resources_Committee", target: "_blank"
          effort and
          an 
          = link_to "open source", "https://www.github.com/vaporware/parkland", target: "_blank"
          project.
        %p
          hosted with 
          %i.fa.fa-heart
          by
          = link_to "vaporware", "http://www.vaporwa.re/", target: "_blank"
          in raleigh, nc.
